@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Sacramento & display=swap');

/* @font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf); format ('opentype');} */


:root {
    --cor0: #C5EBD6;
    --cor1: #83e1ab;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Sacramento', 'cursiva';
}

* {/* serve para tirar todo espaço entre as caixas */
    padding: 0px;
    margin: 0px;
}



body {
    background-color: #C5EBD6;
    font-family: var(--font-padrao);
}

a.externo::after {/* todos os links que forem da class externo terá um icone */
    content: "\00a0\1F517";

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px; /* pedem da area toda */
}

header > h1 {
    text-align: center;
    color: white;
    padding: 10px; /* aumentar o cabeçario */
    margin-bottom: 20px; /* espaço entre o texto de cima e baixo */
    font-size: 3em;
    text-shadow: 2px 2px 0px black; /* sombra no texto */
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor5);
    padding: 10px;  /* tirar das pontas */
    box-shadow: 0px 7px 7px black;
}

nav > a {
    color: white;
    padding: 10px; /* espaçar os links */
    text-decoration: none;
    font-weight: bold; /* fonte negrito */
}

nav a:hover {
    background-color: #2fa866;
    border-radius: 5px; /* borda aredondada */
    transition: 0.9s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto; /* centraliza o site no meio */
    padding: 20px; 
    box-shadow: 0px 0px 10px rgb(0, 0, 0); /* margem do site */
    border-bottom-left-radius : 10px;/* borda aredondada somente na parte de baixo */
    border-bottom-right-radius: 10px;
    
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

main h2 {
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1)),(transparent);
    text-indent: 2em;
}
main  p {
    margin: 15px 0px; /* espaçamento entre textox */
    text-align: justify; /* alinhamento do texto */
    text-indent: 30px; /* espaço paragrafo */
    font-size: 1em; /* espaçamento entre linhas */
    line-height: 2em; /* espaçamento entre linhas */
}

main strong {
    color: var(--cor4);
    font-weight: bold; /* deixa strong verde e negrito e aumenta a caixa */
    /* background-color: var(--cor0); */
    /* padding: 2px 6px; */
}

main a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 5px;
}

main a:hover {
    text-decoration: underline; /* quando passar mouse aparece a linha embaixo */
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%; 
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black; /* sombra */
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px; /* -10 para crescer fora */
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\2714\00a0\00a0"; /* emojipidia nao é compativel com todo computador*/
    list-style-position: inside; /*bolinhas para o lado de dentro  */
    columns: 2;
    
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px;
}